table.blueTable {
  border: 1px solid #AA2935;
  background-color: #FF8B8B;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #A33838;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 21px;
}
table.blueTable tr:nth-child(even) {
  background: #DDC8C8;
}
table.blueTable thead {
  background: #600A0A;
  background: -moz-linear-gradient(top, #884747 0%, #702222 66%, #600A0A 100%);
  background: -webkit-linear-gradient(top, #884747 0%, #702222 66%, #600A0A 100%);
  background: linear-gradient(to bottom, #884747 0%, #702222 66%, #600A0A 100%);
  border-bottom: 1px solid #441722;
}
table.blueTable thead th {
  font-size: 27px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 1px solid #841919;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}